<p><h3><strong>Blood Relative: Mumbai's Forgotten Children</strong> is a cinéma vérité documentary that journeys into the heart of India, the city of Mumbai, and chronicles one man's fight to change government policy and get free medical treatment to children dying of Thalassemia Major.</h3><br/></p>

<div class="heading"><strong>Synopsis:</strong></div><br/>
<p><strong>Thalassemia Major</strong> is a genetic blood disorder, and for those living with it, weekly blood transfusions become an accepted way of life. However, a fatal side effect from the treatment is a build up of iron, which results in the death of Thalassemic children in their teens.<br/><br/>
<%=image_tag('Divya_Blood_Transfusion.png', :style=>"border: solid #000 2px;")%><br/><br/> There is medication available on the Indian market to remove the iron, but for middle and lower income families the cost is unreachable. With no other options, many families resort to religious healing and prayer to "cure" their children.<br/><br/> Throughout India Thalassemia has become a nation-wide epidemic, with 40 million people estimated to be carriers (Thalassemia Minor). Filmed in high definition Blood Relative follows a raw, emotionally packed story to powerfully depict the real life drama of Vinay Shetty and his extraordinary grass roots group who are tirelessly working to change Mumbai’s healthcare system and get free medication to children who are dying from this preventable and treatable disease.<br/><br/></p>

<div class="heading"><strong>Cause:</strong></div><br/>
<p><strong>THINK FOUNDATION</strong> is a non-profit organization whose mission is to improve the quality of life and the life-expectancy of children suffering from Thalassaemia Major.<br/><br/>
For more information on how you can support their efforts please visit: <%=link_to "www.ThinkFoundation.org", "http://www.ThinkFoundation.org" %><br/><br/></p>
<div style="text-align:center;"><%=link_to image_tag('think_foundation_logo.gif'), "http://www.thinkfoundation.org" %></div><br/>

<div class="heading"><strong>Funding:</strong></div>
<div style="text-align:center;">
<%=link_to image_tag('knowledgelogo.png'), "http://www.knowledge.ca/" %><br/>
<%=link_to image_tag('rogersfund.jpg', :style=>"width:60%"), "http://www.rogers.com/web/content/CSR_media" %>
</div><br/>

<div class="heading"><strong>Comments:</strong></div><br/>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'bloodrelative'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    // var disqus_identifier = 'home_comments';
    // var disqus_url = 'http://bloodrelative.net/#discuss_thread';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
